.mainSection {
  position: relative;
  background-color: #fff;
  padding: 100px 0;
  overflow: hidden;
}

.moonWayImg {
  position: absolute;
  width: 500px;
  right: 0;
  top: 0;
}

.titleContainer {
  position: relative;
  text-align: center;
  width: 700px;
  margin: 0 600px 0 auto;
}

.titleText {
  font-family: 'Baloo';
  font-size: 75px;
  line-height: 70px;
  display: inline-block;
  margin: 0;
}

.twittContainer {
  position: relative;
  min-height: 550px;
  margin-top: 70px;
}

.firstTwitter {
  width: 250px;
  min-height: 398px;
  display: inline-block;
  position: absolute;
  right: 200px;
  transform: rotate(-5deg);
  z-index: 2;
  top: 0;
  box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.secondTwitter {
  width: 250px;
  min-height: 398px;
  display: inline-block;
  position: absolute;
  right: -50px;
  transform: rotate(5deg);
  z-index: 1;
  top: 20px;
  box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.kingCapImg {
  width: 120px;
  position: absolute;
  right: -50px;
  top: -50px;
}

@media (max-width: 1366px) {
  .moonWayImg {
    width: 400px;
    top: 120px;
  }
  .titleContainer {
    margin-right: 400px;
  }
}

@media (max-width: 1024px) {
  .titleText {
    font-size: 52px;
    line-height: 50px;
    text-align: center;
  }
  .moonWayImg {
    display: none;
  }

  .titleContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .kingCapImg {
    width: 100px;
    right: 0;
  }
  .firstTwitter {
    position: relative;
    top: unset;
    right: unset;
    transform: rotate(0deg);
  }
  .twittContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .secondTwitter {
    position: relative;
    top: unset;
    right: unset;
    transform: rotate(0deg);
    margin-top: 20px;
  }

}